*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#000;
  height:100vh;
  overflow:hidden;
}

.app{
  display:flex;
  height:100vh;
}

/* Sidebar */
.sidebar{
  width:280px;
  background:#050505;
  padding:20px;
  border-right:1px solid #111;
}

.logo{
  font-size:24px;
  font-weight:bold;
  color:#3b82f6;
  margin-bottom:20px;
}

#newChatBtn{
  width:100%;
  padding:12px;
  background:#2563eb;
  color:white;
  border:none;
  border-radius:10px;
  margin-bottom:20px;
}

.history{
  color:#aaa;
  font-size:14px;
}

.history-item{
  background:#111;
  padding:10px;
  margin-bottom:10px;
  border-radius:10px;
}

/* Chat */
.chat-area{
  flex:1;
  display:flex;
  flex-direction:column;
}

.chat-box{
  flex:1;
  padding:25px;
  overflow-y:auto;
}

.message{
  padding:14px;
  margin:10px 0;
  border-radius:12px;
  max-width:75%;
}

.bot{
  background:#111;
  color:white;
}

.user{
  background:#2563eb;
  color:white;
  margin-left:auto;
}

/* Input */
.input-area{
  display:flex;
  padding:15px;
  background:#050505;
  gap:10px;
}

textarea{
  flex:1;
  padding:12px;
  border:none;
  border-radius:10px;
  background:#111;
  color:white;
  resize:none;
}

button{
  border:none;
  border-radius:10px;
  cursor:pointer;
}

#micBtn{
  padding:12px;
  background:#111;
  color:white;
}

#sendBtn{
  padding:12px 20px;
  background:#2563eb;
  color:white;
}
